#projects {
    height: 100vh;
}

.project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.projectItem {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.projectItem:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.projectItemImg {
    border-radius: 1.5rem;
    overflow: hidden;
}

.projectItem h3 {
    margin: 1.2rem 0 2rem;
}

.projectItemLinks {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

/* =================================================================
MEDIA QUERIES (MEDIUM)
================================================================= */
@media screen and (max-width: 1024px) {
    .project {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* =================================================================
MEDIA QUERIES (SMALL)
================================================================= */
@media screen and (max-width: 600px) {
    .project {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}