.project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 30% 30%; */
    gap: 2.5rem;
}

.projectTitle {
    display: flex;
    justify-content: center;
}

.projectItem {
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.projectItem:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.projectItemImg {
    border-radius: 1rem;
    overflow: hidden;
}

.projectItemLinks {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
}

/* =================================================================
MEDIA QUERIES (MEDIUM)
================================================================= */
@media screen and (max-width: 1024px) {
    .project {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* =================================================================
MEDIA QUERIES (SMALL)
================================================================= */
@media screen and (max-width: 600px) {
    .project {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}