.project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.projectTitle {
    display: flex;
    justify-content: center;
}

.projectItem {
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.projectItemImg {
    border-radius: 1rem;
    overflow: hidden;
}

.test {
    position: absolute;
    color: black;
}

/* .projectItemImg:hover {
    opacity: 0.1;
} */

.projectItemLinks {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
}

/* =================================================================
MEDIA QUERIES (MEDIUM)
================================================================= */
@media screen and (max-width: 1024px) {
    .project {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* =================================================================
MEDIA QUERIES (SMALL)
================================================================= */
@media screen and (max-width: 600px) {
    .project {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}