* {
    font-family: 'Orbitron', sans-serif;
}

:root {
    --borange: rgb(221, 155, 55);
}

body {
    background-color: #403060;
    background-image: radial-gradient( circle, rgba(  0, 0, 0, 0 ) 0%, rgba( 0, 0, 0, 0.8 ) 100% );
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    margin-left: 7px;
    margin-right: 7px;
}

.modal-backdrop {
    background-color: grey;
}

#page {
    max-height: 80vh;
}

.contactMe {
    text-align: center;
}

/* HOME */
#homeRow {
    display: flex;
    flex-direction: column;
    height: 85vh;
    margin: 0;
    top: 50%;
    align-items: center;
    justify-content: center;
    color: var(--borange);
    padding-top: 65px;
}

#homeRow h1 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#homeRow img {
    height: 50%;
    border: 4px solid black;
    border-radius: 50%;
    box-shadow: 0px 0px 40px rgba(221, 221, 10, 0.548);
}

/* ABOUT ME */
#abtTop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    height: 12vh;
    color: var(--borange);
}

#abtRow2, #abtRow3 {
    display: flex;
    justify-content: center;
    color: var(--borange);
    font-size: 25px;
    /* padding-top: 30px; */
}

#abtLeft, #abtRight {
    text-align: center;
    text-decoration: underline;
}

#skillsL, #skillsR {
    text-align: center;
}

#abtRow4 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 60px; */
}

#abtMid {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* height: 60vh; */
    padding-left: 15px;
    padding-right: 15px;
}

h5 {
    padding: 5px;
}

h6 {
    font-size: 25px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PROJECTS */
#prjTop {
    display: flex;
    align-items: center;
    margin-top: 60px;
    justify-content: center;
    height: 12vh;
    color: var(--borange);
}

#prjRow2, #prjRow3 {
    justify-content: center;
}

#prjTopL, #prjTopM, #prjTopR {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 37vh;
    color: var(--borange);
}

#prjBtmL, #prjBtmM, #prjBtmR {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    height: 37vh;
    color: var(--borange);
}

#p1Img, #p2Img, #p3Img, #p4Img, #p5Img, #p6Img {
    max-height: 100%;
}

.p1, .p2, .p3, .p4, .p5, .p6 {
    position: relative;
}

.bgl, .bg2, .bg3, .bg4, .bg5, .bg6 {
    opacity: 1;
    display: block;
    height: auto;
}

.middle {
    opacity: 0;
    position: absolute;
    text-align: center;
}

.p1b, .p2b, .p3b, .p4b, .p5b, .p6b {
    position: relative;
    text-align: center;
    opacity: 0;
}

.p1b a, .p2b a, .p3b a, .p4b a, .p5b a, .p6b a {
    padding: 12px 48px;
    text-align: center;
    color: var(--borange);
    border: solid 2px var(--borange);
    z-index: 1;
    opacity: 0;
}

.p1:hover .bg1 {
    opacity: 0.1;
}

.p1:hover .middle {
    opacity: 1;
}

.p1:hover .p1b {
    opacity: 1;
}

.p1:hover .p1b a {
    opacity: 1;
}

.p2:hover .bg2 {
    opacity: 0.1;
}

.p2:hover .middle {
    opacity: 1;
}

.p2:hover .p2b {
    opacity: 1;
}

.p2:hover .p2b a {
    opacity: 1;
}

.p3:hover .bg3 {
    opacity: 0.1;
}

.p3:hover .middle {
    opacity: 1;
}

.p3:hover .p3b {
    opacity: 1;
}

.p3:hover .p3b a {
    opacity: 1;
}

.p4:hover .bg4 {
    opacity: 0.1;
}

.p4:hover .middle {
    opacity: 1;
}

.p4:hover .p4b {
    opacity: 1;
}

.p4:hover .p4b a {
    opacity: 1;
}

.p5:hover .bg5 {
    opacity: 0.1;
}

.p5:hover .middle {
    opacity: 1;
}

.p5:hover .p5b {
    opacity: 1;
}

.p5:hover .p5b a {
    opacity: 1;
}

.p6:hover .bg6 {
    opacity: 0.1;
}

.p6:hover .middle {
    opacity: 1;
}

.p6:hover .p6b {
    opacity: 1;
}

.p6:hover .p6b a {
    opacity: 1;
}

.desc {
    color: red;
}

/* TOGGLE CLASSES */
.hidden {
    display: none;
    visibility: hidden;
}

.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
  
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}