.aboutNew {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.aboutPic {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 60%;
}

.aboutMe {
    width: 100%;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
}

.aboutMeImg {
    border-radius: 5rem;
    overflow: hidden;
    transition: var(--transition);
}

.aboutCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.aboutLinks {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    place-items: center;
}

.aboutCard {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.aboutCard:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.aboutCard h5 {
    font-size: 1.2rem;
}

.aboutCard small {
    font-size: 0.95rem;
    display: grid;
}

.aboutContent p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

p {
    font-size: 1.2rem;
}

/* =================================================================
MEDIA QUERIES (MEDIUM)
================================================================= */
@media screen and (max-width: 1024px) {
    .about {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .aboutMe {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .aboutContent p {
        margin: 1rem 0 11.5rem;
    }
}

/* =================================================================
MEDIA QUERIES (SMALL)
================================================================= */
@media screen and (max-width: 600px) {
    .aboutMe {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .aboutCards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .aboutContent {
        text-align: center;
    }

    .aboutContent p {
        margin: 1.5rem 0;
    }
}