.contact {
    width: 58%;
    display: grid;
    grid-template-columns: 63% 25%;   
    gap: 12%;
}

.contactOptions {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contactOption {
    background-color: var(--color-bg-variant);
    padding: 0.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);   
}

.contactOptionIcon {
    margin: 0.5rem;
}

.contactOption a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 1rem;
}

h4, h5 {
    font-size: 1rem;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: var(--color-white);
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: black;
}

/* =================================================================
MEDIA QUERIES (MEDIUM)
================================================================= */
@media screen and (max-width: 1024px) {
    .contact {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* =================================================================
MEDIA QUERIES (SMALL)
================================================================= */
@media screen and (max-width: 600px) {
    .contact {
        width: var(--container-width-sm);
    }
}